<title>Welcome</title>
<p style="text-align:center">
    <h1 style="text-align:center" >Welcome Administrator!</h1>
      <img class="img-fluid" src="~/img/bookstore.jpg" alt="" style="text-align:center">
</p>