@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-controller="userroles" asp-action="index">click here to go back to user</a>.
</p>
