@{
    ViewData["Title"] = "About us";
}

<section class="section-slide bg0 p-t-120 p-b-20">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1" style="background-image: url(../images/about.png)">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						@* <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
							<span class="ltext-101 cl2 respon2">
								About Us
							</span>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
								Lumos Store
							</h2>
						</div> *@
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Content page -->
<section class="bg0 p-t-120 p-b-80">
    <div class="container">
        <div class="row p-b-20">
            <div class="col-md-25 col-lg-25">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h2 class="text-center mtext-111 cl2 p-b-16">
                        <br>
                    <h2>About Us</h2>
                    <p class="stext-113 cl6 p-b-26">
                        Welcome to our book website! We are dedicated to providing book lovers with a platform to discover, explore, and purchase a wide range of books from various genres.</p>
    
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Our mission is to promote reading culture and literacy by making books accessible to everyone, regardless of their location or background.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                       If you have any questions, feedback, or suggestions, please feel free to contact us at <a href="mailto:info@example.com">lumosbook.customer@example.com</a>.
                    </p>

                   
                </div>
            </div>
        </div>
    </div>
</section>
