@{
    ViewData["Title"] = "About us";
}

<!-- Content page -->
<section class="bg0 p-t-120 p-b-80">
    <div class="container">
        <div class="row p-b-20">
            <div class="col-md-25 col-lg-25">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h2 class="text-center mtext-111 cl2 p-b-16">
                        Our Story
                    </h2>

                   
                </div>
            </div>
        </div>
    </div>
</section>
