@{
	ViewData["Title"] = "Help";
}
<!-- Title page -->
<!-- Content page -->
<section class="bg0 p-t-120 p-b-160">
	<div class="container">
		<div class="row">

			<!--Section: FAQ-->
			<section>
				<br><br><br><br>
				<h2 class="text-center mb-4 pb-2 text-body fw-bold"><strong>FAQ</strong></h2>
				<p class="text-center mb-5">
					Find the answers for the most frequently asked questions below
				</p>

				<div class="row">
					<div class="col-md-6 col-lg-4 mb-4">
						<h6 class="mb-3 text-body"><i></i><strong> How do I create an account?</strong></h6>
						<p>
							@* <strong><u>Absolutely!</u></strong>  *@
							You can create an account by clicking on the "Sign Up" link at the top 
							of the page and following the instructions
						</p>
					</div>

					<div class="col-md-6 col-lg-4 mb-4">
						<h6 class="mb-3 text-body"><i></i><strong> How do I reset my password?</strong></h6>
						<p>
							<strong><u>Yes, it is possible!</u></strong> You can reset your password by clicking on the "Forgot Password?" link on the login page.
						</p>
					</div>

					<div class="col-md-6 col-lg-4 mb-4">
						<h6 class="mb-3 text-body"><i></i> <strong>How do I place an order?</strong>
						</h6>
						<p>
							To place an order, simply add the desired items to your cart and proceed to checkout.
						</p>
					</div>

					<div class="col-md-6 col-lg-4 mb-4">
						<h6 class="mb-3 text-body"><i></i> <strong>What payment methods do you accept?</strong>
						</h6>
						<p>
							We accept credit/debit card payments and cash on delivery.
						</p>
					</div>

					<div class="col-md-6 col-lg-4 mb-4">
						<h6 class="mb-3 text-body"><i></i><strong>Can I refund the book?</strong> 
						</h6>
						<p><strong><u>Unfortunately no</u>.</strong> For any reason, we are unable to
						 provide full or partial refunds.
						</p>
					</div>

					<div class="col-md-6 col-lg-4 mb-4">
						<h6 class="mb-3 text-body"><i></i>
							<strong>Can I search and view book details without registering an account?</strong></h6>
						<p>
							Of course! We’re happy to offer a free plan to anyone who wants to try our
							service.
						</p>
					</div>
				</div>
			</section>
			<!--Section: FAQ-->
		</div>
</section>