@model IEnumerable<Final.Models.Language>
@using Final.Controllers

<title>Language List</title>
<div class="row">
    <div class="col-12 col-lg-10 col-xxl-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">

                <h5 class="card-title mb-0">Language List</h5>
            </div>
            <div class="card-header">
                <a asp-action="Create" class="btn btn-primary"><i class="fa-sharp fa-solid fa-plus"></i></a>
            </div>
            <table class="table table-hover my-0" style="margin-left:10px ;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                             <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"
                                style="font-size:7px ;"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"
                                style="font-size:7px"><i class="fa-sharp fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
